[ req_ext ]
basicConstraints = CA:TRUE
keyUsage = digitalSignature, keyCertSign, cRLSign
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = a2a-mesh
DNS.2 = nova.a2a.mesh
DNS.3 = morzsa.a2a.mesh
DNS.4 = runa.a2a.mesh
IP.1 = 192.168.1.8
IP.2 = 192.168.1.30
IP.3 = 192.168.1.100
